* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/images/zoo/fondo.jpg');
    background-size: cover;
}

img {
    width: 100%;
    border: 2px solid white;
}

.images {
    column-count: 3;
    width: 80%;
    margin: 0 auto 100px;
}

.box-option {
    margin-left: 25%;
}

.box-option select {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #ffb366;
    color: white;
    margin: 0 20px 40px;
    font-size: 20px;
    font-weight: bold;
}

select:focus {
    outline: none;
}

h1 {
    font-family: 'Coming Soon', cursive;
    text-align: center;
    font-size: 60px;
    margin: 20px;
    color: #ff6699;
    text-shadow: 0 0 10px white;
}

.negative-colors {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.white-black {
    filter: grayscale(100%);
}

.box-show {
    display: block;
}

.box-hide {
    display: none;
}